@charset "UTF-8";
body {
  font-size: 12px; }

#header {
  height: 44px;
  background: #0092d8; }
  #header .logo {
    float: left; }
    #header .logo a {
      display: block;
      height: 44px;
      width: 120px;
      background: url(http://10.31.163.21/project/csh/1902chenshaohua/meide/src/img/index_service_sprite_v3.png) no-repeat -80px 0px;
      background-size: 200px 80px; }
  #header .nav_right {
    float: right; }
    #header .nav_right li {
      position: relative; }
      #header .nav_right li a i {
        position: relative;
        top: 13px;
        left: 0;
        display: block;
        width: 20px;
        height: 20px;
        background: url(http://10.31.163.21/project/csh/1902chenshaohua/meide/src/img/index_sprite.png) no-repeat; }
    #header .nav_right li:nth-child(1) {
      width: 75px;
      transition: width 0.3s; }
      #header .nav_right li:nth-child(1) a {
        display: block;
        padding: 0;
        position: relative; }
        #header .nav_right li:nth-child(1) a .search_i {
          float: left;
          background-position: -96px -215px;
          margin: 0 0 0 25px; }
        #header .nav_right li:nth-child(1) a input {
          float: right;
          height: 44px;
          width: 0;
          border: 0;
          padding: 0;
          position: absolute;
          top: 0;
          left: 30px; }
        #header .nav_right li:nth-child(1) a .se {
          display: none;
          position: absolute;
          top: 44px;
          width: 270px;
          background: #fff;
          overflow: hidden;
          z-index: 5; }
          #header .nav_right li:nth-child(1) a .se li {
            float: none; }
            #header .nav_right li:nth-child(1) a .se li a {
              padding: 0;
              display: block;
              width: 240px;
              height: 48px;
              color: #333;
              border-bottom: 1px solid lightgray;
              padding-left: 25px; }
            #header .nav_right li:nth-child(1) a .se li li:nth-child(1) {
              border-top: 1px solid lightgray; }
    #header .nav_right .se li:hover a {
      background: #f3f3f3; }
    #header .nav_right li:nth-child(1):hover {
      width: 270px;
      background: #fff; }
    #header .nav_right li:nth-child(1):hover .search_i {
      background-position: -66px -215px;
      margin: 0 0 0 5px; }
    #header .nav_right li:nth-child(1):hover input {
      width: 240px; }
    #header .nav_right li:nth-child(1):hover .se {
      display: block; }
    #header .nav_right li:nth-child(2) a i {
      background-position: -120px -215px; }
    #header .nav_right li:nth-child(2) .shaoYiShao {
      display: none;
      position: absolute;
      top: 44px;
      left: -229px;
      z-index: 99; }
    #header .nav_right li:nth-child(3) a i {
      background-position: -146px -215px; }
    #header .nav_right li:nth-child(3) .gouWuChe {
      display: none;
      width: 354px;
      height: 72px;
      background: #fff;
      position: absolute;
      right: 0px;
      top: 44px;
      border: 1px #ccc solid;
      box-shadow: 0px 0px 2px #888888;
      text-align: center;
      z-index: 99; }
      #header .nav_right li:nth-child(3) .gouWuChe a {
        display: inline;
        color: #0092d8;
        padding: 0;
        line-height: 72px; }
    #header .nav_right li:nth-child(4) a {
      color: #fff; }
      #header .nav_right li:nth-child(4) a i {
        display: inline-block;
        top: 6px;
        padding: 0 2px 0 2px;
        background-position: -35px -216px; }
    #header .nav_right li:nth-child(4) .woDe {
      display: none;
      position: absolute;
      top: 44px;
      right: 5px;
      width: 289px;
      border: 1px solid #222;
      background: #fff;
      z-index: 100; }
      #header .nav_right li:nth-child(4) .woDe li {
        float: none; }
        #header .nav_right li:nth-child(4) .woDe li a {
          padding: 0;
          display: block;
          width: 289px;
          height: 48px;
          color: #333;
          position: relative;
          border-bottom: 1px solid lightgray; }
          #header .nav_right li:nth-child(4) .woDe li a i {
            display: inline-block;
            position: absolute;
            top: 16px;
            left: 10px;
            width: 12px;
            height: 12px;
            background: url(http://10.31.163.21/project/csh/1902chenshaohua/meide/src/img/atom_sprite.png) no-repeat -284px -44px; }
          #header .nav_right li:nth-child(4) .woDe li a span {
            padding-left: 35px;
            font-size: 14px; }
        #header .nav_right li:nth-child(4) .woDe li a:hover {
          background: #f3f3f3; }
    #header .nav_right li:nth-child(2):hover .shaoYiShao {
      display: block; }
    #header .nav_right li:nth-child(3):hover .gouWuChe {
      display: block; }
    #header .nav_right li:nth-child(4):hover .woDe {
      display: block; }
      #header .nav_right li:nth-child(4):hover .woDe a {
        color: #333; }
  #header li {
    float: left; }
    #header li a {
      text-decoration: none;
      display: block;
      height: 44px;
      line-height: 44px;
      padding: 0 30px;
      color: #a3c3e6; }
  #header li:hover a {
    color: #fff; }

#announcement {
  height: 16px;
  background: #003b66;
  line-height: 16px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding: 4px; }

#announcement_bottom {
  height: 40px;
  border-bottom: 1px solid black; }
  #announcement_bottom .inner {
    width: 1200px;
    margin: 0 auto; }
    #announcement_bottom .inner div {
      float: left;
      line-height: 40px;
      width: 20%;
      text-align: center; }
      #announcement_bottom .inner div i {
        display: inline-block;
        width: 40px;
        height: 40px;
        background: url(http://10.31.163.21/project/csh/1902chenshaohua/meide/src/img/index_service_sprite_v3.png) no-repeat;
        background-size: 200px 80px;
        vertical-align: top; }

.inner {
  width: 1200px;
  margin: 0 auto; }

.left {
  float: left; }

.right {
  float: right; }

body {
  background-color: #f4f4f4; }

/* cart-top */
#content .cart_top {
  background-color: #fff;
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 20px;
  overflow: hidden;
  /* cart_body */ }
  #content .cart_top .cart_tittle h2 {
    font-size: 32px;
    line-height: 80px;
    color: #333;
    font-weight: normal; }
  #content .cart_top .cart_address {
    background-color: #fff;
    max-width: 260px;
    margin-top: 26px; }
    #content .cart_top .cart_address .cart_address_inner {
      position: relative;
      float: left;
      height: 28px;
      line-height: 26px;
      z-index: 49; }
      #content .cart_top .cart_address .cart_address_inner span {
        float: left;
        height: 28px;
        line-height: 28px; }
      #content .cart_top .cart_address .cart_address_inner .address {
        display: inline-block;
        position: relative;
        height: 28px;
        line-height: 28px;
        padding: 0 10px 0 10px;
        overflow: hidden; }
        #content .cart_top .cart_address .cart_address_inner .address i {
          display: inline-block;
          width: 10px;
          height: 6px;
          margin-left: 6px;
          background: url(http://10.31.163.21/project/csh/1902chenshaohua/meide/src/img/atom_sprite.png) no-repeat 0 -44px; }

#cart_body .title_list ul {
  border: 1px solid #e9e9e9;
  background-color: #fafafa;
  height: 40px;
  line-height: 40px;
  color: #333; }
  #cart_body .title_list ul li {
    float: left;
    color: #aaa; }
    #cart_body .title_list ul li:nth-child(1) {
      width: 114px;
      padding: 0 10px 0 20px;
      color: #333; }
#cart_body .title_list .checkedbox {
  float: left;
  margin: 13px 10px 0 0;
  width: 16px;
  height: 16px;
  position: relative; }
  #cart_body .title_list .checkedbox .checked {
    position: absolute;
    width: 16px;
    height: 16px;
    top: -4px;
    left: -5px;
    border: none; }
#cart_body .title_list ul li:nth-child(2) {
  width: 315px; }
#cart_body .title_list ul li:nth-child(3), #cart_body .title_list ul li:nth-child(4), #cart_body .title_list ul li:nth-child(5), #cart_body .title_list ul li:nth-child(6) {
  width: 160px; }
#cart_body .title_list ul li:nth-child(7) {
  width: 99px; }

/* 商品上面的 */
#cart_list {
  /* 空空如也 */ }
  #cart_list .cart_item {
    border: 1px solid #ccc;
    margin-top: 20px; }
    #cart_list .cart_item .item_title {
      background-color: #fafafa;
      height: 40px;
      line-height: 40px;
      padding-left: 20px; }
  #cart_list .guanfang_icon {
    margin-left: 24px;
    line-height: 40px; }
    #cart_list .guanfang_icon i {
      display: inline-block;
      height: 16px;
      width: 16px;
      position: relative;
      top: 4px;
      background: url(http://10.31.163.21/project/csh/1902chenshaohua/meide/src/img/cart_sprite.png) no-repeat -20px -74px; }
  #cart_list .product_lists {
    position: relative;
    background-color: #fff;
    border-top: 1px solid #ccc;
    color: #333;
    font-size: 12px;
    line-height: 18px; }
    #cart_list .product_lists .product_warp {
      padding: 0 20px; }
  #cart_list .item_product {
    overflow: hidden;
    background: #fffceb;
    /* 复选框 */ }
    #cart_list .item_product .choose {
      position: relative;
      width: 14px;
      padding: 20px 20px 0 0;
      float: left; }
      #cart_list .item_product .choose .checkedbox {
        margin: 0; }
  #cart_list .cart_none {
    height: 98px;
    padding: 80px 0 120px;
    color: #333;
    text-align: center; }
  #cart_list .cart_none_w {
    height: 98px;
    line-height: 20px;
    font-size: 14px;
    padding-left: 341px;
    padding-top: 25px; }
    #cart_list .cart_none_w a {
      display: block;
      color: #1523e2; }
  #cart_list .product_lists .product_warp {
    /* 商品图片 */
    /* 商品信息 */
    /* 商品规格 */
    /* 商品价格 */
    /* 商品数量 */
    /* 小计 */
    /* 操作 */ }
    #cart_list .product_lists .product_warp .product_pic {
      width: 90px;
      float: left;
      padding: 20px 0; }
      #cart_list .product_lists .product_warp .product_pic img {
        width: 78px;
        height: 78px;
        border: 1px solid #eee; }
    #cart_list .product_lists .product_warp .product_xinxi {
      width: 225px;
      padding-right: 90px;
      padding-left: 0;
      height: 16px;
      overflow: hidden;
      float: left;
      padding: 20px 0; }
      #cart_list .product_lists .product_warp .product_xinxi a {
        color: #333;
        font-size: 12px;
        line-height: 18px; }
    #cart_list .product_lists .product_warp .product_guige {
      float: left;
      padding: 20px 0 20px 90px;
      width: 160px; }
    #cart_list .product_lists .product_warp .product_price,
    #cart_list .product_lists .product_warp .product_num,
    #cart_list .product_lists .product_warp .product_sum {
      float: left;
      padding: 20px 0;
      width: 160px; }
    #cart_list .product_lists .product_warp .product_price del {
      display: block;
      color: #a9a9a9; }
    #cart_list .product_lists .product_warp .product_price span {
      font-weight: bolder;
      color: #333;
      display: block; }
    #cart_list .product_lists .product_warp .product_price div {
      display: block;
      position: relative;
      margin-top: 6px;
      cursor: pointer; }
      #cart_list .product_lists .product_warp .product_price div span {
        display: inline-block;
        color: #fff;
        font-size: 12px;
        line-height: 20px;
        height: 20px;
        padding: 0 6px;
        background: #f60;
        border: 1px solid #f60; }
    #cart_list .product_lists .product_warp .product_num span {
      float: left;
      width: 28px;
      height: 28px;
      line-height: 28px;
      border: 1px solid #d6d6d6;
      text-align: center;
      position: relative; }
    #cart_list .product_lists .product_warp .product_num input {
      float: left;
      position: relative;
      border-radius: 0;
      width: 40px;
      height: 26px;
      line-height: 28px;
      border: 1px solid #d6d6d6;
      background: #fff;
      border-left: 0;
      border-right: 0;
      text-align: center; }
    #cart_list .product_lists .product_warp .product_num span i {
      display: block;
      width: 12px;
      height: 12px;
      border: 0;
      background: url(http://10.31.163.21/project/csh/1902chenshaohua/meide/src/img/detail_sprite.png) no-repeat -39px -109px;
      position: relative;
      left: 8px;
      top: 8px; }
    #cart_list .product_lists .product_warp .product_num span:nth-child(3) i {
      background-position: -19px -109px; }
    #cart_list .product_lists .product_warp .product_sum .sum {
      color: #f60;
      font-weight: bolder; }
    #cart_list .product_lists .product_warp .product_caozuo {
      width: 79px;
      padding-left: 0;
      float: left;
      padding: 20px 0; }
      #cart_list .product_lists .product_warp .product_caozuo span {
        display: block; }
        #cart_list .product_lists .product_warp .product_caozuo span:last-child {
          font-weight: bolder;
          cursor: pointer; }

#kongbai {
  width: 100%;
  height: 125px;
  background: #f4f4f4; }

/* footer */
#footer {
  position: fixed;
  bottom: -2px;
  width: 100%; }
  #footer .inner {
    z-index: 10;
    margin: 0 auto; }
  #footer .cart_bottom {
    width: 100%;
    max-width: 1188px;
    height: 60px;
    margin-top: 10px;
    padding-left: 10px;
    background-color: #fafafa;
    border: 1px solid #e9e9e9;
    position: relative;
    /* footer left */
    /* 复选框 */
    /* footer right */ }
    #footer .cart_bottom .cart_bottom_left {
      line-height: 60px;
      clear: right;
      overflow: hidden; }
    #footer .cart_bottom .choose {
      position: relative;
      width: 26px;
      padding: 23px 10px 0 0;
      z-index: 3;
      float: left; }
    #footer .cart_bottom .checkedbox {
      width: 16px;
      height: 16px;
      position: relative;
      z-index: 3; }
      #footer .cart_bottom .checkedbox .checked {
        position: absolute;
        z-index: 3;
        width: 16px;
        height: 16px;
        top: -4px;
        left: 5px; }
    #footer .cart_bottom span {
      float: left; }
    #footer .cart_bottom .del,
    #footer .cart_bottom .move,
    #footer .cart_bottom .clear {
      float: left;
      margin-left: 40px;
      cursor: pointer; }
    #footer .cart_bottom .cart_bottom_right {
      position: absolute;
      right: 0;
      top: 0;
      /* 勾选数量 */
      /* 结算 */ }
      #footer .cart_bottom .cart_bottom_right .right_choose {
        margin-right: 40px;
        line-height: 60px;
        float: left; }
        #footer .cart_bottom .cart_bottom_right .right_choose span i {
          display: inline-block;
          padding: 0 3px;
          color: #f60;
          line-height: 60px; }
      #footer .cart_bottom .cart_bottom_right .right_price {
        padding-top: 11px;
        margin-right: 40px;
        float: left;
        /* 合计 */
        /* 运费 */ }
        #footer .cart_bottom .cart_bottom_right .right_price .heji {
          line-height: 18px;
          overflow: hidden; }
          #footer .cart_bottom .cart_bottom_right .right_price .heji .right_sum i {
            color: #f60;
            font-size: 18px;
            line-height: 18px;
            font-weight: bolder; }
        #footer .cart_bottom .cart_bottom_right .right_price .yunfei {
          color: #333;
          line-height: 12px;
          margin-top: 6px; }
      #footer .cart_bottom .cart_bottom_right .right_jiesuan {
        width: 160px;
        text-align: center;
        font-size: 18px;
        line-height: 60px;
        background-color: #f60;
        color: #fff;
        cursor: pointer;
        float: left; }

#footer .footer_links {
  height: 42px;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0; }
  #footer .footer_links ul {
    height: 42px; }
    #footer .footer_links ul li {
      float: left; }
      #footer .footer_links ul li a {
        display: block;
        height: 42px;
        width: 150px;
        line-height: 42px;
        color: #666; }
        #footer .footer_links ul li a:hover {
          color: #f30; }
#footer .footer_info {
  height: 42px; }
  #footer .footer_info p {
    color: #999; }
  #footer .footer_info a {
    color: #999; }
    #footer .footer_info a:hover {
      color: #f30; }
  #footer .footer_info img {
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px; }

/*# sourceMappingURL=cart.css.map */
