/* content */


/* 导航 */

#content {
    margin-bottom: 50px;
}

#content .nav_border {
    width: 100%;
    border-bottom: 1px solid #eee;
}

#content .inner {
    width: 1190px;
}

#content .inner .nav_det {
    margin: 11px auto 10px auto;
    height: 20px;
}

#content .inner .nav_det a {
    display: block;
    height: 20px;
    line-height: 20px;
    color: #666;
    float: left;
}

#content .inner .nav_det a:hover {
    color: #0092d8;
}

#content .inner .nav_det a:last-child:hover {
    color: #666;
}

#content .inner .nav_det i {
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    margin: 5px;
    background: url(../img/atom_sprite.png) no-repeat -20px -20px;
}


/* 放大镜 */

#content .wrap {
    width: 1190px;
    height: 632px;
    margin: 40px auto 60px auto;
    position: relative;
}

#content .wrap .product_left {
    height: 632px;
    width: 680px;
    float: left;
}

#smallpic {
    width: 500px;
    height: 500px;
    float: left;
    position: relative;
}

#smallpic img {
    width: 500px;
    height: 500px;
}

#smallfang {
    width: 209px;
    height: 209px;
    background-color: #0080dc;
    opacity: .2;
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: hidden;
    cursor: move;
}

#bigfang {
    display: none;
    position: absolute;
    overflow: hidden;
    left: 595px;
    height: 500px;
    width: 500px;
    z-index: 99;
    background-color: #fff;
}

#bigfang img {
    position: absolute;
    left: 0px;
    top: 0px;
}

#productlist {
    clear: right;
    margin-top: 30px;
    padding-left: 50px;
    height: 64px;
    position: absolute;
    left: 0px;
    bottom: 15px;
    overflow: hidden;
}

#list {
    float: left;
    margin-left: 18px;
    width: 612px;
    position: relative;
}

#list ul {
    list-style: none;
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
}

#list ul li {
    float: left;
    width: 56px;
    height: 56px;
    padding-right: 6px;
    cursor: pointer;
    border: 2px solid #f60;
    margin: 0 10px 0 0;
    position: relative;
    opacity: 1.0;
}

ul li img {
    width: 60px;
    height: 54px;
    border: 1px solid #ccc;
}

#content .wrap .share {
    clear: right;
    overflow: hidden;
    padding-left: 50px;
    margin-top: 20px;
    height: 18px;
    position: absolute;
    left: 20px;
    bottom: -30px;
}

#content .wrap .share .share_list,
#content .wrap .share .collect {
    float: left;
}

#content .wrap .share span {
    display: block;
    float: left;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    color: #333;
}

#content .wrap .share .share_list a,
#content .wrap .share .collect i {
    float: left;
    display: block;
    width: 18px;
    height: 18px;
    background: url(../img/detail_sprite.png) no-repeat -20px -66px;
    margin-left: 10px;
}

#content .wrap .share .share_list a:last-child {
    width: 22px;
    background-position: -38px -66px;
}

#content .wrap .share .collect {
    margin-left: 20px;
    border-left: 1px solid #e6e6e6;
}

#content .wrap .share .collect span {
    margin-left: 6px;
}

#content .wrap .share .collect i {
    cursor: pointer;
    margin-left: 20px;
}

#content .wrap .share .collect i:nth-child(1) {
    background-position: -40px -90px;
}

#content .wrap .share .collect i:nth-child(1):hover {
    background-position: -60px -90px;
}

#content .wrap .share .collect i:nth-child(3) {
    background-position: -100px -126px;
}


/* product right 右边的 */

#content .wrap .product_right {
    float: right;
    width: 510px;
}


/* 主标题 */

#content .wrap .product_right h1 {
    margin-top: -3px;
    margin-bottom: 10px;
    color: #333;
    font-size: 22px;
    font-weight: normal;
    line-height: 28px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    max-height: 54px;
}

#content .wrap .product_right h1 span {
    display: inline-block;
    height: 14px;
    line-height: 14px;
    padding: 2px 4px;
    margin: 0 4px 2px 0;
    vertical-align: middle;
    font-size: 12px;
    border: 1px solid #f60;
    border-radius: 2px;
    color: #f60;
}

#content .wrap .product_right h5 {
    color: #f60;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    margin-top: -3px;
    margin-bottom: 8px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    position: relative;
}

#content .wrap .product_right h5 span {
    color: #0092d8;
    font-size: 10px;
    border: 1px #0092d8 solid;
    padding: 0 2px;
    border-radius: 2px;
}


/* 倒计时 */

#content .wrap .product_right .daojishi {
    background: #f60;
    color: #fff;
    padding: 8px 15px;
}

#content .wrap .product_right .daojishi span:nth-child(1) {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../img/detail_sprite.png) no-repeat -40px -154px;
    vertical-align: text-bottom;
}

#content .wrap .product_right .product_price {
    background-color: #f2f2f2;
    padding: 15px 20px;
    clear: both;
    overflow: hidden;
}

#content .wrap .product_right .product_price span {
    font-size: 18px;
    line-height: 1;
    color: #f60;
}

#content .wrap .product_right .product_price b {
    font-size: 32px;
    line-height: 1;
    color: #f60;
}

#content .wrap .product_right .product_price del {
    font-weight: normal;
    color: #999;
    margin-left: 10px;
    font-size: 12px;
}

#content .wrap .product_right .product_price .bztehui {
    display: inline-block;
    color: #fff;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    padding: 0 10px;
    margin: 11px 0 0 10px;
    background: #ff6600;
}

#content .wrap .product_right .yhpl {
    padding: 20px 0 0px;
    position: relative;
    z-index: 10;
    overflow: hidden;
}

#content .wrap .product_right .yhpl .youhui {
    border-bottom: 1px dashed #eee;
}

#content .wrap .product_right h3 {
    float: left;
    width: 54px;
    font-size: 12px;
    color: #999;
    font-weight: normal;
    margin-top: 3px;
}

#content .wrap .product_right .yhpl .youhui span:nth-child(2) {
    display: inline-block;
    width: 54px;
    line-height: 18px;
    color: #fff;
    background-color: #f60;
    text-align: center;
    margin-bottom: 10px;
}

#content .wrap .product_right .yhpl .youhui span:last-child {
    margin-left: 10px;
    width: 386px;
}

#content .wrap .product_right .yhpl .pinglun {
    padding-top: 10px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}

#content .wrap .product_right .yhpl .pinglun h3 {
    margin-top: 6px;
}

#content .wrap .product_right .yhpl .pinglun span {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    margin: 0 15px 10px 0;
    color: #000;
    border: 1px solid #90ebae;
    border-radius: 2px;
    overflow: hidden;
}


/* 规格数量配送供应商 */

#content .wrap .product_right .gspg {
    position: relative;
    padding-bottom: 30px;
}

#content .wrap .product_right .gspg .guige,
#content .wrap .product_right .gspg .shuliang,
#content .wrap .product_right .gspg .peisong,
#content .wrap .product_right .gspg .peisong .address,
#content .wrap .product_right .gspg .gongying {
    overflow: hidden;
}


/* 规格 */

#content .wrap .product_right .gspg .guige h3 {
    margin-top: 9px;
}

#content .wrap .product_right .gspg .guige span {
    display: block;
    padding: 0 7px;
    height: 26px;
    line-height: 26px;
    border: 2px solid #f60;
    text-align: center;
    margin-bottom: 15px;
    float: left;
    margin-left: 10px;
    cursor: pointer;
}

#content .wrap .product_right .gspg .guige span:last-child {
    border: 2px solid #D6D6D6;
}


/* 数量 */

#content .wrap .product_right .gspg .shuliang h3 {
    margin-top: 9px;
}

#content .wrap .product_right .gspg .shuliang span {
    float: left;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #d6d6d6;
    text-align: center;
    position: relative;
}

#content .wrap .product_right .gspg .shuliang input {
    float: left;
    position: relative;
    border-radius: 0;
    width: 40px;
    height: 26px;
    line-height: 28px;
    border: 1px solid #d6d6d6;
    background: #fff;
    border-left: 0;
    border-right: 0;
    text-align: center;
}

#content .wrap .product_right .gspg .shuliang span i {
    display: block;
    width: 12px;
    height: 12px;
    border: 0;
    background: url(../img/detail_sprite.png) no-repeat -39px -109px;
    position: relative;
    left: 8px;
    top: 8px;
}

#content .wrap .product_right .gspg .shuliang span:nth-child(3) i {
    background-position: -19px -109px;
}


/* 配送 */

#content .wrap .product_right .gspg .peisong {
    margin-top: 15px;
}

#content .wrap .product_right .gspg .peisong h3 {
    margin-top: 9px;
}

#content .wrap .product_right .gspg .peisong .song {
    user-select: none;
    position: relative;
    float: left;
    height: 30px;
    line-height: 26px;
    z-index: 49;
}

#content .wrap .product_right .gspg .peisong .address {
    display: inline-block;
}

#content .wrap .product_right .gspg .peisong .address span {
    float: left;
    line-height: 28px;
    color: #000;
    margin-right: 5px;
}

#content .wrap .product_right .gspg .peisong .song .youhuo {
    display: block;
    height: 28px;
    line-height: 28px;
    margin-left: 10px;
    float: right;
}

#content .wrap .product_right .gspg .peisong .address .select_address {
    display: block;
    position: relative;
    height: 28px;
    line-height: 26px;
    border: 1px solid #D6D6D6;
    padding: 0 10px 0 10px;
    overflow: hidden;
    float: left;
}

#content .wrap .product_right .gspg .peisong .address .select_address i {
    background: url(../img/detail_sprite.png) no-repeat -60px -117px;
    display: inline-block;
    width: 8px;
    height: 4px;
    margin-left: 6px;
    position: relative;
    top: -3px;
}


/* 供应商 */

#content .wrap .product_right .gspg .gongying {
    margin-top: 20px;
}

#content .wrap .product_right .gspg .gongying h3 {
    margin-top: 9px;
}

#content .wrap .product_right .gspg .gongying span {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: #000;
}


/* 加购按钮组 */

#content .wrap .product_right .gspg .btn_list {
    margin-bottom: 10px;
}

#content .wrap .product_right .gspg .btn_list .jiaru_cart,
#content .wrap .product_right .gspg .btn_list .lijigm {
    background-color: #0092d8;
    margin-right: 10px;
    display: inline-block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width: 205px;
    text-align: center;
    color: #fff;
    padding: 0;
    cursor: pointer;
    border-radius: 2px;
}

#content .wrap .product_right .gspg .btn_list .lijigm {
    background-color: #f60;
}

#content .wrap .product_right .gspg .last_con .weiyi,
#content .wrap .product_right .gspg .last_con .qglb,
#content .wrap .product_right .gspg .last_con .qcby {
    float: left;
    margin-right: 15px;
}

#content .wrap .product_right .gspg .last_con span {
    display: inline-block;
    padding-left: 5px;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    position: relative;
    top: -4px;
}

#content .wrap .product_right .gspg .last_con i {
    display: inline-block;
    height: 18px;
    width: 18px;
    background: url(../img/detail_sprite.png) no-repeat 0 -66px;
    position: relative;
}


/* 弹窗 */

#content .wrap .product_right .gspg .tanchuang {
    display: none;
    position: relative;
}


/* 固定导航 */

#fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    width: 62px;
}

#fixed ul li {
    background: #000;
    opacity: .75;
    border-bottom: 1px solid #5a5959;
}

#fixed ul li a {
    display: block;
    padding: 12px;
    color: #D6D6D6;
    line-height: 1;
    text-align: center;
}

#fixed ul li a span {
    display: none;
}

#fixed ul li a i {
    display: block;
    height: 38px;
    width: 38px;
    background: url(../img/detail_servic_2.png) no-repeat;
}

#fixed ul li:nth-child(1) a i {
    background-position: 0 0;
}

#fixed ul li:nth-child(2) a i {
    background-position: -38px 0;
}

#fixed ul li:nth-child(3) a i {
    background-position: -76px 0;
}

#fixed ul li:nth-child(4) a i {
    background-position: -114px 0;
}