body {
  font-size: 12px; }

#header {
  height: 44px;
  background: #0092d8; }
  #header .logo {
    float: left; }
    #header .logo a {
      display: block;
      height: 44px;
      width: 120px;
      background: url(../img/index_service_sprite_v3.png) no-repeat -80px 0px;
      background-size: 200px 80px; }
  #header .nav_right {
    float: right; }
    #header .nav_right li {
      position: relative; }
      #header .nav_right li a i {
        position: relative;
        top: 13px;
        left: 0;
        display: block;
        width: 20px;
        height: 20px;
        background: url(../img/index_sprite.png) no-repeat; }
    #header .nav_right li:nth-child(1) {
      width: 75px;
      transition: width 0.3s; }
      #header .nav_right li:nth-child(1) a {
        display: block;
        padding: 0;
        position: relative; }
        #header .nav_right li:nth-child(1) a i {
          float: left;
          background-position: -96px -215px;
          margin: 0 0 0 25px; }
        #header .nav_right li:nth-child(1) a input {
          float: right;
          height: 44px;
          width: 0;
          border: 0;
          padding: 0;
          position: absolute;
          top: 0;
          left: 30px; }
    #header .nav_right li:nth-child(1):hover {
      width: 270px;
      background: #fff; }
    #header .nav_right li:nth-child(1):hover i {
      background-position: -66px -215px;
      margin: 0 0 0 5px; }
    #header .nav_right li:nth-child(1):hover input {
      width: 240px; }
    #header .nav_right li:nth-child(2) a i {
      background-position: -120px -215px; }
    #header .nav_right li:nth-child(2) .shaoYiShao {
      display: none;
      position: absolute;
      top: 44px;
      left: -229px;
      z-index: 99; }
    #header .nav_right li:nth-child(3) a i {
      background-position: -146px -215px; }
    #header .nav_right li:nth-child(3) .gouWuChe {
      display: none;
      width: 354px;
      height: 72px;
      background: #fff;
      position: absolute;
      right: 0px;
      top: 44px;
      border: 1px #ccc solid;
      box-shadow: 0px 0px 2px #888888;
      text-align: center;
      z-index: 99; }
      #header .nav_right li:nth-child(3) .gouWuChe a {
        display: inline;
        color: #0092d8;
        padding: 0;
        line-height: 72px; }
    #header .nav_right li:nth-child(4) a {
      color: #fff; }
      #header .nav_right li:nth-child(4) a i {
        display: inline-block;
        top: 6px;
        padding: 0 2px 0 2px;
        background-position: -35px -216px; }
    #header .nav_right li:nth-child(4) .woDe {
      display: none;
      position: absolute;
      top: 44px;
      right: 5px;
      width: 289px;
      border: 1px solid #222;
      background: #fff;
      z-index: 100; }
      #header .nav_right li:nth-child(4) .woDe li {
        float: none; }
        #header .nav_right li:nth-child(4) .woDe li a {
          padding: 0;
          display: block;
          width: 289px;
          height: 48px;
          color: #333;
          position: relative;
          border-bottom: 1px solid lightgray; }
          #header .nav_right li:nth-child(4) .woDe li a i {
            display: inline-block;
            position: absolute;
            top: 16px;
            left: 10px;
            width: 12px;
            height: 12px;
            background: url(../img/atom_sprite.png) no-repeat -284px -44px; }
          #header .nav_right li:nth-child(4) .woDe li a span {
            padding-left: 35px;
            font-size: 14px; }
        #header .nav_right li:nth-child(4) .woDe li a:hover {
          background: #f3f3f3; }
    #header .nav_right li:nth-child(2):hover .shaoYiShao {
      display: block; }
    #header .nav_right li:nth-child(3):hover .gouWuChe {
      display: block; }
    #header .nav_right li:nth-child(4):hover .woDe {
      display: block; }
      #header .nav_right li:nth-child(4):hover .woDe a {
        color: #333; }
  #header li {
    float: left; }
    #header li a {
      text-decoration: none;
      display: block;
      height: 44px;
      line-height: 44px;
      padding: 0 30px;
      color: #a3c3e6; }
  #header li:hover a {
    color: #fff; }

#announcement {
  height: 16px;
  background: #003b66;
  line-height: 16px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding: 4px; }

#announcement_bottom {
  height: 40px;
  border-bottom: 1px solid black; }
  #announcement_bottom .inner {
    width: 1200px;
    margin: 0 auto; }
    #announcement_bottom .inner div {
      float: left;
      line-height: 40px;
      width: 20%;
      text-align: center; }
      #announcement_bottom .inner div i {
        display: inline-block;
        width: 40px;
        height: 40px;
        background: url(../img/index_service_sprite_v3.png) no-repeat;
        background-size: 200px 80px;
        vertical-align: top; }

/*# sourceMappingURL=header.css.map */
