@charset "UTF-8";
body {
  font-size: 12px; }

#header {
  height: 44px;
  background: #0092d8; }
  #header .logo {
    float: left; }
    #header .logo a {
      display: block;
      height: 44px;
      width: 120px;
      background: url(http://10.31.163.21/project/csh/1902chenshaohua/meide/src/img/index_service_sprite_v3.png) no-repeat -80px 0px;
      background-size: 200px 80px; }
  #header .nav_right {
    float: right; }
    #header .nav_right li {
      position: relative; }
      #header .nav_right li a i {
        position: relative;
        top: 13px;
        left: 0;
        display: block;
        width: 20px;
        height: 20px;
        background: url(http://10.31.163.21/project/csh/1902chenshaohua/meide/src/img/index_sprite.png) no-repeat; }
    #header .nav_right li:nth-child(1) {
      width: 75px;
      transition: width 0.3s; }
      #header .nav_right li:nth-child(1) a {
        display: block;
        padding: 0;
        position: relative; }
        #header .nav_right li:nth-child(1) a .search_i {
          float: left;
          background-position: -96px -215px;
          margin: 0 0 0 25px; }
        #header .nav_right li:nth-child(1) a input {
          float: right;
          height: 44px;
          width: 0;
          border: 0;
          padding: 0;
          position: absolute;
          top: 0;
          left: 30px; }
        #header .nav_right li:nth-child(1) a .se {
          display: none;
          position: absolute;
          top: 44px;
          width: 270px;
          background: #fff;
          overflow: hidden;
          z-index: 5; }
          #header .nav_right li:nth-child(1) a .se li {
            float: none; }
            #header .nav_right li:nth-child(1) a .se li a {
              padding: 0;
              display: block;
              width: 240px;
              height: 48px;
              color: #333;
              border-bottom: 1px solid lightgray;
              padding-left: 25px; }
            #header .nav_right li:nth-child(1) a .se li li:nth-child(1) {
              border-top: 1px solid lightgray; }
    #header .nav_right .se li:hover a {
      background: #f3f3f3; }
    #header .nav_right li:nth-child(1):hover {
      width: 270px;
      background: #fff; }
    #header .nav_right li:nth-child(1):hover .search_i {
      background-position: -66px -215px;
      margin: 0 0 0 5px; }
    #header .nav_right li:nth-child(1):hover input {
      width: 240px; }
    #header .nav_right li:nth-child(1):hover .se {
      display: block; }
    #header .nav_right li:nth-child(2) a i {
      background-position: -120px -215px; }
    #header .nav_right li:nth-child(2) .shaoYiShao {
      display: none;
      position: absolute;
      top: 44px;
      left: -229px;
      z-index: 99; }
    #header .nav_right li:nth-child(3) a i {
      background-position: -146px -215px; }
    #header .nav_right li:nth-child(3) .gouWuChe {
      display: none;
      width: 354px;
      height: 72px;
      background: #fff;
      position: absolute;
      right: 0px;
      top: 44px;
      border: 1px #ccc solid;
      box-shadow: 0px 0px 2px #888888;
      text-align: center;
      z-index: 99; }
      #header .nav_right li:nth-child(3) .gouWuChe a {
        display: inline;
        color: #0092d8;
        padding: 0;
        line-height: 72px; }
    #header .nav_right li:nth-child(4) a {
      color: #fff; }
      #header .nav_right li:nth-child(4) a i {
        display: inline-block;
        top: 6px;
        padding: 0 2px 0 2px;
        background-position: -35px -216px; }
    #header .nav_right li:nth-child(4) .woDe {
      display: none;
      position: absolute;
      top: 44px;
      right: 5px;
      width: 289px;
      border: 1px solid #222;
      background: #fff;
      z-index: 100; }
      #header .nav_right li:nth-child(4) .woDe li {
        float: none; }
        #header .nav_right li:nth-child(4) .woDe li a {
          padding: 0;
          display: block;
          width: 289px;
          height: 48px;
          color: #333;
          position: relative;
          border-bottom: 1px solid lightgray; }
          #header .nav_right li:nth-child(4) .woDe li a i {
            display: inline-block;
            position: absolute;
            top: 16px;
            left: 10px;
            width: 12px;
            height: 12px;
            background: url(http://10.31.163.21/project/csh/1902chenshaohua/meide/src/img/atom_sprite.png) no-repeat -284px -44px; }
          #header .nav_right li:nth-child(4) .woDe li a span {
            padding-left: 35px;
            font-size: 14px; }
        #header .nav_right li:nth-child(4) .woDe li a:hover {
          background: #f3f3f3; }
    #header .nav_right li:nth-child(2):hover .shaoYiShao {
      display: block; }
    #header .nav_right li:nth-child(3):hover .gouWuChe {
      display: block; }
    #header .nav_right li:nth-child(4):hover .woDe {
      display: block; }
      #header .nav_right li:nth-child(4):hover .woDe a {
        color: #333; }
  #header li {
    float: left; }
    #header li a {
      text-decoration: none;
      display: block;
      height: 44px;
      line-height: 44px;
      padding: 0 30px;
      color: #a3c3e6; }
  #header li:hover a {
    color: #fff; }

#announcement {
  height: 16px;
  background: #003b66;
  line-height: 16px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding: 4px; }

#announcement_bottom {
  height: 40px;
  border-bottom: 1px solid black; }
  #announcement_bottom .inner {
    width: 1200px;
    margin: 0 auto; }
    #announcement_bottom .inner div {
      float: left;
      line-height: 40px;
      width: 20%;
      text-align: center; }
      #announcement_bottom .inner div i {
        display: inline-block;
        width: 40px;
        height: 40px;
        background: url(http://10.31.163.21/project/csh/1902chenshaohua/meide/src/img/index_service_sprite_v3.png) no-repeat;
        background-size: 200px 80px;
        vertical-align: top; }

#banner .inner {
  position: relative; }
  #banner .inner .sub_nav {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 220px;
    height: 480px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2; }
    #banner .inner .sub_nav ul {
      padding: 16px 0; }
      #banner .inner .sub_nav ul .nav_list {
        width: 220px;
        height: 56px;
        position: relative; }
        #banner .inner .sub_nav ul .nav_list i:nth-child(1) {
          position: absolute;
          top: 14px;
          left: 21px;
          display: inline-block;
          width: 30px;
          height: 30px;
          background: url(http://10.31.163.21/project/csh/1902chenshaohua/meide/src/img/index_sprite.png) no-repeat; }
        #banner .inner .sub_nav ul .nav_list a {
          line-height: 56px;
          padding-left: 72px;
          color: #fff; }
          #banner .inner .sub_nav ul .nav_list a span {
            color: #f0f0f0;
            margin-left: 10px;
            opacity: .5; }
        #banner .inner .sub_nav ul .nav_list i {
          display: inline-block;
          width: 12px;
          height: 12px;
          margin-left: 2px;
          background: url(http://10.31.163.21/project/csh/1902chenshaohua/meide/src/img/index_sprite.png) no-repeat -69px -188px; }
        #banner .inner .sub_nav ul .nav_list .sub_nav_list {
          display: none;
          position: absolute;
          top: -16px;
          left: 220px;
          width: 660px;
          height: 480px;
          background: #fff;
          border-top: 1px solid #f4f4f4;
          box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.1);
          z-index: 10; }
          #banner .inner .sub_nav ul .nav_list .sub_nav_list .list1 {
            float: left;
            width: 204px;
            height: 216px;
            padding: 24px 0px 0 16px; }
            #banner .inner .sub_nav ul .nav_list .sub_nav_list .list1 li {
              padding: 5px 0; }
              #banner .inner .sub_nav ul .nav_list .sub_nav_list .list1 li a {
                display: block;
                padding: 0;
                height: 40px;
                line-height: 40px; }
                #banner .inner .sub_nav ul .nav_list .sub_nav_list .list1 li a img {
                  width: 32px;
                  height: 32px;
                  margin-right: 16px;
                  vertical-align: middle; }
                #banner .inner .sub_nav ul .nav_list .sub_nav_list .list1 li a span {
                  color: #333;
                  opacity: 1; }
              #banner .inner .sub_nav ul .nav_list .sub_nav_list .list1 li a:hover span {
                color: #f30; }
          #banner .inner .sub_nav ul .nav_list .sub_nav_list .list2 {
            float: left;
            width: 219px;
            height: 480px;
            padding: 0;
            border-left: 1px solid #f4f4f4; }
            #banner .inner .sub_nav ul .nav_list .sub_nav_list .list2 li {
              position: relative;
              padding: 20px 0;
              box-sizing: border-box;
              border-bottom: 1px solid #f4f4f4; }
              #banner .inner .sub_nav ul .nav_list .sub_nav_list .list2 li a {
                display: block;
                height: 80px;
                line-height: 80px;
                padding-left: 0px; }
                #banner .inner .sub_nav ul .nav_list .sub_nav_list .list2 li a img {
                  float: left;
                  width: 80px;
                  height: 80px; }
                #banner .inner .sub_nav ul .nav_list .sub_nav_list .list2 li a span {
                  margin-top: 23px;
                  display: inline-block;
                  height: 40px;
                  width: 120px;
                  line-height: 16px;
                  color: #333;
                  opacity: 1; }
              #banner .inner .sub_nav ul .nav_list .sub_nav_list .list2 li a:hover span {
                color: #f30; }
          #banner .inner .sub_nav ul .nav_list .sub_nav_list .list3 {
            float: left;
            width: 220px;
            height: 480px;
            box-sizing: border-box;
            border-left: 1px solid #f4f4f4;
            padding-top: 0; }
            #banner .inner .sub_nav ul .nav_list .sub_nav_list .list3 li {
              padding-top: 20px;
              height: 240px;
              text-align: center;
              box-sizing: border-box;
              border-top: 1px solid #f4f4f4; }
              #banner .inner .sub_nav ul .nav_list .sub_nav_list .list3 li a {
                display: block;
                height: 240px;
                color: #333;
                padding: 0; }
                #banner .inner .sub_nav ul .nav_list .sub_nav_list .list3 li a img {
                  width: 120px;
                  height: 120px; }
                #banner .inner .sub_nav ul .nav_list .sub_nav_list .list3 li a p {
                  width: 220px;
                  height: 21px;
                  font-size: 14px;
                  line-height: 14px; }
                #banner .inner .sub_nav ul .nav_list .sub_nav_list .list3 li a p:nth-child(3) {
                  color: #999999; }
              #banner .inner .sub_nav ul .nav_list .sub_nav_list .list3 li a:hover p {
                color: #f30; }
        #banner .inner .sub_nav ul .nav_list .sub_nav_list2 {
          top: -72px; }
        #banner .inner .sub_nav ul .nav_list .sub_nav_list3 {
          top: -128px; }
        #banner .inner .sub_nav ul .nav_list .sub_nav_list4 {
          top: -184px; }
        #banner .inner .sub_nav ul .nav_list .sub_nav_list5 {
          top: -240px; }
        #banner .inner .sub_nav ul .nav_list .sub_nav_list6 {
          top: -296px; }
        #banner .inner .sub_nav ul .nav_list .sub_nav_list7 {
          top: -352px; }
        #banner .inner .sub_nav ul .nav_list .sub_nav_list8 {
          top: -408px; }
      #banner .inner .sub_nav ul .nav_list:hover {
        background: rgba(0, 0, 0, 0.5); }
        #banner .inner .sub_nav ul .nav_list:hover .sub_nav_list {
          display: block; }
#banner .lunbo {
  overflow: hidden; }
  #banner .lunbo .inner ul {
    position: relative;
    top: 0px;
    left: 0px;
    width: 8400px;
    height: 480px; }
    #banner .lunbo .inner ul li {
      float: left;
      width: 1200px;
      position: relative; }
      #banner .lunbo .inner ul li a {
        display: block;
        font-size: 0; }
        #banner .lunbo .inner ul li a img {
          width: 100%;
          height: 480px; }
  #banner .lunbo .inner .button {
    height: 35px;
    position: absolute;
    bottom: 0;
    left: 220px;
    width: 980px;
    right: 0;
    text-align: center; }
    #banner .lunbo .inner .button ol {
      display: inline-block;
      padding: 0 8px;
      min-width: 110px;
      height: 36px;
      overflow: hidden;
      text-align: center;
      border-radius: 20px; }
      #banner .lunbo .inner .button ol .active {
        background: #fff; }
      #banner .lunbo .inner .button ol li {
        display: inline-block;
        margin: 10px 4px 10px 3px;
        background-color: #D0CECE;
        border: #989696 solid 1px;
        border-radius: 50%;
        overflow: hidden;
        width: 10px;
        height: 10px;
        cursor: pointer; }
  #banner .lunbo .inner .lt_left {
    position: absolute;
    left: 220px;
    top: 210px; }
    #banner .lunbo .inner .lt_left a {
      display: block;
      width: 60px;
      height: 60px;
      background: url(http://10.31.163.21/project/csh/1902chenshaohua/meide/src/img/index_sprite.png) no-repeat -170px -59px; }
    #banner .lunbo .inner .lt_left a:hover {
      background-position: -171px -124px; }
  #banner .lunbo .inner .gt_right {
    position: absolute;
    right: 0px;
    top: 210px; }
    #banner .lunbo .inner .gt_right a {
      display: block;
      width: 60px;
      height: 60px;
      background: url(http://10.31.163.21/project/csh/1902chenshaohua/meide/src/img/index_sprite.png) no-repeat -233px -59px; }
    #banner .lunbo .inner .gt_right a:hover {
      background-position: -234px -124px; }
#banner .banner_bottom {
  position: relative;
  z-index: 2;
  height: 200px;
  border: 1px solid #e0e0e0;
  border-top: none; }
  #banner .banner_bottom ul {
    height: 180px; }
    #banner .banner_bottom ul li {
      float: left;
      width: 298px;
      border-right: 1px solid #e0e0e0; }
      #banner .banner_bottom ul li a {
        display: block; }
        #banner .banner_bottom ul li a img {
          display: block;
          width: 200px;
          height: 180px;
          margin: 15px auto 5px;
          position: relative;
          top: 0px;
          transition: top 0.2s; }
        #banner .banner_bottom ul li a img:hover {
          top: -5px; }
    #banner .banner_bottom ul li:nth-child(4) {
      border-right: 0; }

/* 明星单品 */
#content {
  /* 第一个商品列表 */
  /* 拼接的数据 */
  /* 第二个商品列表 */
  /* 会员专区 */ }
  #content img {
    position: relative;
    top: 0px;
    transition: top 0.2s; }
    #content img:hover {
      top: -5px; }
  #content .mingxing {
    height: 68px;
    margin-top: 80px;
    margin-bottom: 40px; }
    #content .mingxing h2 {
      height: 68px;
      width: 160px;
      margin: 0 auto;
      text-indent: -100%;
      overflow: hidden;
      background: url(http://10.31.163.21/project/csh/1902chenshaohua/meide/src/img/index_title_sprite.png) no-repeat 0 0;
      background-size: 160px 115px; }
  #content .product_list1 {
    border: 1px solid #e0e0e0;
    border-top: none;
    height: 680px;
    position: relative;
    margin-bottom: -1px;
    overflow: hidden; }
    #content .product_list1 ul {
      height: 680px;
      width: 1198px; }
      #content .product_list1 ul li {
        display: block;
        float: left;
        position: relative; }
        #content .product_list1 ul li:first-child a {
          float: left;
          display: block;
          width: 600px;
          height: 680px; }
          #content .product_list1 ul li:first-child a img {
            width: 500px;
            height: 590px;
            margin: 35px auto 10px; }
          #content .product_list1 ul li:first-child a span:nth-child(2) {
            display: none; }
        #content .product_list1 ul li a {
          display: block;
          width: 297px;
          height: 340px;
          border: 1px solid #e0e0e0;
          border-left: none;
          border-bottom: none; }
        #content .product_list1 ul li:nth-child(3) a, #content .product_list1 ul li:nth-child(5) a {
          border-right: none;
          padding-right: 2px; }
        #content .product_list1 ul li:hover a span {
          color: #f30; }
        #content .product_list1 ul li a img {
          display: block;
          width: 200px;
          height: 200px;
          margin: 35px auto 40px; }
        #content .product_list1 ul li a span {
          display: block;
          font-size: 14px;
          line-height: 14px;
          height: 14px;
          color: #333;
          text-align: center; }
    #content .product_list1 .tehui {
      position: absolute;
      top: 340px;
      right: 0;
      color: #fff;
      font-size: 12px;
      height: 29px;
      line-height: 29px;
      padding: 0 20px;
      z-index: 10;
      text-align: center;
      background: #ff6600; }
  #content .product_list2 {
    border: 1px solid #e0e0e0;
    height: 680px;
    position: relative;
    margin-bottom: -1px;
    overflow: hidden; }
    #content .product_list2 .product1 {
      position: absolute;
      left: -1px;
      top: -1px;
      border: 1px solid #e0e0e0;
      width: 600px;
      height: 340px; }
      #content .product_list2 .product1 img {
        width: 540px;
        height: 280px;
        margin: 28px auto; }
    #content .product_list2 .product2 {
      width: 600px;
      height: 680px;
      position: absolute;
      left: 600px;
      top: -1px;
      border: 1px solid #e0e0e0; }
      #content .product_list2 .product2 img {
        width: 500px;
        height: 590px;
        margin: 35px auto 10px; }
    #content .product_list2 .product3,
    #content .product_list2 .product4 {
      width: 300px;
      height: 340px;
      position: absolute; }
    #content .product_list2 .product3 {
      top: 340px;
      left: -1px;
      border: 1px solid #e0e0e0; }
    #content .product_list2 .product4 {
      top: 340px;
      left: 300px; }
    #content .product_list2 .product1 a,
    #content .product_list2 .product2 a,
    #content .product_list2 .product3 a,
    #content .product_list2 .product4 a {
      display: block; }
    #content .product_list2 .product3 img,
    #content .product_list2 .product4 img {
      display: block;
      width: 200px;
      height: 200px;
      margin: 35px auto 40px; }
    #content .product_list2 .product1 a span,
    #content .product_list2 .product2 a span,
    #content .product_list2 .product3 a span,
    #content .product_list2 .product4 a span {
      display: block;
      font-size: 14px;
      line-height: 14px;
      height: 14px;
      color: #333;
      text-align: center; }
    #content .product_list2 .product1 a span {
      position: relative;
      left: 0px;
      top: -30px; }
    #content .product_list2 .product1 a:hover span {
      color: #f30; }
    #content .product_list2 .product2 a:hover span,
    #content .product_list2 .product3 a:hover span,
    #content .product_list2 .product4 a:hover span {
      color: #f30; }
  #content .vip {
    height: 39px;
    margin-top: 80px;
    margin-bottom: 55px; }
    #content .vip h2 {
      height: 39px;
      width: 160px;
      margin: 0 auto;
      text-indent: -100%;
      overflow: hidden;
      background: url(http://10.31.163.21/project/csh/1902chenshaohua/meide/src/img/index_title_sprite.png) no-repeat 0 -75px;
      background-size: 160px 115px; }
    #content .vip a {
      display: block;
      font-size: 12px;
      line-height: 12px;
      margin: 20px auto 40px;
      text-align: center;
      color: #999; }
      #content .vip a:hover {
        color: #f30; }
  #content .vip_list {
    border: 1px solid #e0e0e0;
    overflow: hidden;
    margin-bottom: 120px; }
    #content .vip_list ul {
      height: 420px; }
    #content .vip_list li {
      float: left;
      width: 298px;
      height: 420px;
      border-right: 1px solid #e0e0e0; }
      #content .vip_list li:nth-child(4) {
        border-right: 0; }
      #content .vip_list li a {
        display: block; }
        #content .vip_list li a img {
          display: block;
          width: 200px;
          height: 300px;
          margin: 30px auto 10px; }
    #content .vip_list .btn {
      color: #333;
      margin: 0 auto;
      display: block;
      width: 118px;
      height: 38px;
      line-height: 38px;
      border: 1px solid #c8c8c8;
      border-radius: 2px;
      text-align: center;
      padding: 0; }

#footer .footer_links {
  height: 42px;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0; }
  #footer .footer_links ul {
    height: 42px; }
    #footer .footer_links ul li {
      float: left; }
      #footer .footer_links ul li a {
        display: block;
        height: 42px;
        width: 150px;
        line-height: 42px;
        color: #666; }
        #footer .footer_links ul li a:hover {
          color: #f30; }
#footer .footer_info {
  height: 42px; }
  #footer .footer_info p {
    color: #999; }
  #footer .footer_info a {
    color: #999; }
    #footer .footer_info a:hover {
      color: #f30; }
  #footer .footer_info img {
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px; }

/*# sourceMappingURL=index.css.map */
