#banner .inner {
  position: relative; }
  #banner .inner .sub_nav {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 220px;
    height: 480px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2; }
    #banner .inner .sub_nav ul {
      padding: 16px 0; }
      #banner .inner .sub_nav ul .nav_list {
        width: 220px;
        height: 56px;
        position: relative; }
        #banner .inner .sub_nav ul .nav_list i:nth-child(1) {
          position: absolute;
          top: 14px;
          left: 21px;
          display: inline-block;
          width: 30px;
          height: 30px;
          background: url(../img/index_sprite.png) no-repeat; }
        #banner .inner .sub_nav ul .nav_list a {
          line-height: 56px;
          padding-left: 72px;
          color: #fff; }
          #banner .inner .sub_nav ul .nav_list a span {
            color: #f0f0f0;
            margin-left: 10px;
            opacity: .5; }
        #banner .inner .sub_nav ul .nav_list i {
          display: inline-block;
          width: 12px;
          height: 12px;
          margin-left: 2px;
          background: url(../img/index_sprite.png) no-repeat -69px -188px; }
        #banner .inner .sub_nav ul .nav_list .sub_nav_list {
          display: none;
          position: absolute;
          top: -16px;
          left: 220px;
          width: 660px;
          height: 480px;
          background: #fff;
          border-top: 1px solid #f4f4f4;
          box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.1);
          z-index: 10; }
          #banner .inner .sub_nav ul .nav_list .sub_nav_list .list1 {
            float: left;
            width: 204px;
            height: 216px;
            padding: 24px 0px 0 16px; }
            #banner .inner .sub_nav ul .nav_list .sub_nav_list .list1 li {
              padding: 5px 0; }
              #banner .inner .sub_nav ul .nav_list .sub_nav_list .list1 li a {
                display: block;
                padding: 0;
                height: 40px;
                line-height: 40px; }
                #banner .inner .sub_nav ul .nav_list .sub_nav_list .list1 li a img {
                  width: 32px;
                  height: 32px;
                  margin-right: 16px;
                  vertical-align: middle; }
                #banner .inner .sub_nav ul .nav_list .sub_nav_list .list1 li a span {
                  color: #333;
                  opacity: 1; }
              #banner .inner .sub_nav ul .nav_list .sub_nav_list .list1 li a:hover span {
                color: #f30; }
          #banner .inner .sub_nav ul .nav_list .sub_nav_list .list2 {
            float: left;
            width: 219px;
            height: 480px;
            padding: 0;
            border-left: 1px solid #f4f4f4; }
            #banner .inner .sub_nav ul .nav_list .sub_nav_list .list2 li {
              position: relative;
              padding: 20px 0;
              box-sizing: border-box;
              border-bottom: 1px solid #f4f4f4; }
              #banner .inner .sub_nav ul .nav_list .sub_nav_list .list2 li a {
                display: block;
                height: 80px;
                line-height: 80px;
                padding-left: 0px; }
                #banner .inner .sub_nav ul .nav_list .sub_nav_list .list2 li a img {
                  float: left;
                  width: 80px;
                  height: 80px; }
                #banner .inner .sub_nav ul .nav_list .sub_nav_list .list2 li a span {
                  margin-top: 23px;
                  display: inline-block;
                  height: 40px;
                  width: 120px;
                  line-height: 16px;
                  color: #333;
                  opacity: 1; }
              #banner .inner .sub_nav ul .nav_list .sub_nav_list .list2 li a:hover span {
                color: #f30; }
          #banner .inner .sub_nav ul .nav_list .sub_nav_list .list3 {
            float: left;
            width: 220px;
            height: 480px;
            box-sizing: border-box;
            border-left: 1px solid #f4f4f4;
            padding-top: 0; }
            #banner .inner .sub_nav ul .nav_list .sub_nav_list .list3 li {
              padding-top: 20px;
              height: 240px;
              text-align: center;
              box-sizing: border-box;
              border-top: 1px solid #f4f4f4; }
              #banner .inner .sub_nav ul .nav_list .sub_nav_list .list3 li a {
                display: block;
                height: 240px;
                color: #333;
                padding: 0; }
                #banner .inner .sub_nav ul .nav_list .sub_nav_list .list3 li a img {
                  width: 120px;
                  height: 120px; }
                #banner .inner .sub_nav ul .nav_list .sub_nav_list .list3 li a p {
                  width: 220px;
                  height: 21px;
                  font-size: 14px;
                  line-height: 14px; }
                #banner .inner .sub_nav ul .nav_list .sub_nav_list .list3 li a p:nth-child(3) {
                  color: #999999; }
              #banner .inner .sub_nav ul .nav_list .sub_nav_list .list3 li a:hover p {
                color: #f30; }
        #banner .inner .sub_nav ul .nav_list .sub_nav_list2 {
          top: -72px; }
        #banner .inner .sub_nav ul .nav_list .sub_nav_list3 {
          top: -128px; }
        #banner .inner .sub_nav ul .nav_list .sub_nav_list4 {
          top: -184px; }
        #banner .inner .sub_nav ul .nav_list .sub_nav_list5 {
          top: -240px; }
        #banner .inner .sub_nav ul .nav_list .sub_nav_list6 {
          top: -296px; }
        #banner .inner .sub_nav ul .nav_list .sub_nav_list7 {
          top: -352px; }
        #banner .inner .sub_nav ul .nav_list .sub_nav_list8 {
          top: -408px; }
      #banner .inner .sub_nav ul .nav_list:hover {
        background: rgba(0, 0, 0, 0.5); }
        #banner .inner .sub_nav ul .nav_list:hover .sub_nav_list {
          display: block; }
#banner .lunbo {
  overflow: hidden; }
  #banner .lunbo .inner ul {
    position: relative;
    top: 0px;
    left: 0px;
    width: 8400px;
    height: 480px; }
    #banner .lunbo .inner ul li {
      float: left;
      width: 1200px;
      position: relative; }
      #banner .lunbo .inner ul li a {
        display: block;
        font-size: 0; }
        #banner .lunbo .inner ul li a img {
          width: 100%;
          height: 480px; }
  #banner .lunbo .inner .button {
    height: 35px;
    position: absolute;
    bottom: 0;
    left: 220px;
    width: 980px;
    right: 0;
    text-align: center; }
    #banner .lunbo .inner .button ol {
      display: inline-block;
      padding: 0 8px;
      min-width: 110px;
      height: 36px;
      overflow: hidden;
      text-align: center;
      border-radius: 20px; }
      #banner .lunbo .inner .button ol .active {
        background: #fff; }
      #banner .lunbo .inner .button ol li {
        display: inline-block;
        margin: 10px 4px 10px 3px;
        background-color: #D0CECE;
        border: #989696 solid 1px;
        border-radius: 50%;
        overflow: hidden;
        width: 10px;
        height: 10px;
        cursor: pointer; }
  #banner .lunbo .inner .lt_left {
    position: absolute;
    left: 220px;
    top: 210px; }
    #banner .lunbo .inner .lt_left a {
      display: block;
      width: 60px;
      height: 60px;
      background: url(../img/index_sprite.png) no-repeat -170px -59px; }
    #banner .lunbo .inner .lt_left a:hover {
      background-position: -171px -124px; }
  #banner .lunbo .inner .gt_right {
    position: absolute;
    right: 0px;
    top: 210px; }
    #banner .lunbo .inner .gt_right a {
      display: block;
      width: 60px;
      height: 60px;
      background: url(../img/index_sprite.png) no-repeat -233px -59px; }
    #banner .lunbo .inner .gt_right a:hover {
      background-position: -234px -124px; }
#banner .banner_bottom {
  position: relative;
  z-index: 2;
  height: 200px;
  border: 1px solid #e0e0e0;
  border-top: none; }
  #banner .banner_bottom ul {
    height: 180px; }
    #banner .banner_bottom ul li {
      float: left;
      width: 298px;
      border-right: 1px solid #e0e0e0; }
      #banner .banner_bottom ul li a {
        display: block; }
        #banner .banner_bottom ul li a img {
          display: block;
          width: 200px;
          height: 180px;
          margin: 15px auto 5px;
          position: relative;
          top: 0px;
          transition: top 0.2s; }
        #banner .banner_bottom ul li a img:hover {
          top: -5px; }
    #banner .banner_bottom ul li:nth-child(4) {
      border-right: 0; }

/*# sourceMappingURL=index.css.map */
